language: java
jdk:
  - openjdk11
  - openjdk12
  - openjdk13
  - openjdk14
cache:
  directories:
    - .autoconf
    - $HOME/.m2

addons:
  sonarcloud:
    organization: "nhenneaux"
    token:
      secure: "S9BN3RMlKHXJPfh4bYJq5Ivf9NSLxLWGAqE1+7CmTfTAX/+gppsANBD3gvEeJRJ4M3tq4UBVPoTswxbui+1zrC6rTSHctpAIw1gSxL+2mqvKQkiyNeFe8tA/0gsAQ8Vn7RBUtXKzdlbFtAqqX3/lAJ1tzmctuy+DJgDoXIgzH/ivc6lxHmEs6isGrUYfYtFsErt5KHVnLkoGV4QhHnfJIgfpwqmSfZcTz+qDgNKM8PqNZ82T6oyhrb19HJCfHO7HCK/WjNxcyW9lNLIbSjySEbqso4aGxJGeQ+yI0TqtLRe3kyui2xRKyRAQjAin7Sft6h+BPkAcNnW7luf0DPpYw1E8tK1lyV/i56WBnB/6JOQwbA4UM0Fm7SRd4Aoe5rHPHI2Iwh+PohYp1AxEcQqlpyCWOgoHoYExJhjQSf/cSPPj11/N/IQfwu9+WglswSSb4gfa5InuQTAbsNHRQTMSeS5IsZPCfHlb6oFu0PZMGejr0sBu8F0fbPeAIB/KY3vY/aEOlUsa2vcMbTPRZbx76dKQ53j2Isddp0PgS4LfriXveh8ZguzocSGkFAarkIglY78sNpJJ0+N3AOnYcr2HG80EeTMCcUqQLB6p57F5wXdc7K6ojCuw645Qgl3c5obtAObRL728lrYWFbnfgm+l/8CcSuxqzlZf0W844gsniOA="

script: mvn verify sonar:sonar -Dsonar.projectKey=nhenneaux_resilient-httpclient
